#vertical-tree-demo .panel {
    width: 300px;
    height: 500px;
    overflow: hidden;
}

#vertical-tree-demo a:hover,
#vertical-tree-demo a:focus {
    text-decoration: none;
}

#vertical-tree-demo .list-group {
    overflow: auto;
}
