<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <title>Angular Vertical Tree</title>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>

    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-sanitize.min.js"></script>
    <script src="../dist/angularVerticalTree.js"></script>
    <script src="js/script.js"></script>
</head>
<body ng-controller="MainCtrl">

    <vertical-tree tree-items="items" tree-opts="vTreeOpts" id="vertical-tree-demo">
        <vertical-tree-breadcrumb>
            <i class="fa fa-folder-open-o"></i>
            {{ breadcrumb.label }}
        </vertical-tree-breadcrumb>
        <vertical-tree-leaf>
            <i class="fa fa-folder-o" ng-show="leaf.children.length > 0"></i>
            <i class="fa fa-file-o" ng-hide="leaf.children.length > 0"></i>
            {{ leaf.label }}
        </vertical-tree-leaf>
    </vertical-tree>

    <button ng-click="copyItems()">Copy and replace tree</button><br/>
    <button ng-click="generateNewTree()">Generate new tree</button><br/>
    <button ng-click="removeItemFromCurrentFolder()">Remove an item from the open folder</button><br/>
    <button ng-click="addItemToCurrentFolder()">Add an item to the open folder</button><br/>
    <button ng-click="changeLabelsOfItems()">Change labels of items in the open folder</button><br/>

    <div>
        Last opened folder:
        <span ng-show="folder.label" ng-bind="folder.label"></span>
        <span class="text-danger" ng-hide="folder.label">Open a folder</span>
    </div>
    <div>
        Last selected item:
        <span ng-show="item.label" ng-bind="item.label"></span>
        <span class="text-danger" ng-hide="item.label">Select an item</span>
    </div>

</body>
</html>
