<!-- .panel by default -->
<div class="v-tree-container" ng-class="opts.classes.container">

    <!-- .panel-heading by default -->
    <a class="v-tree-breadcrumb"
       href="javascript:;"
       ng-class="opts.classes.breadcrumb"
       ng-click="breadcrumbClickHandler( breadcrumb, $index )"
       ng-include="templates.breadcrumb"
       ng-repeat="breadcrumb in breadcrumbs track by ( opts.idProp ? breadcrumb[ opts.idProp ] : $index )"
       style="display: block;">
    </a>

    <!-- .list-group by default -->
    <div class="v-tree-branch" ng-class="opts.classes.branch">
        <!-- .list-group-item by default -->
        <a class="v-tree-leaf"
           href="javascript:;"
           ng-class="opts.classes.leaf"
           ng-click="leafClickHandler( leaf )"
           ng-include="templates.leaf"
           ng-repeat="leaf in leaves track by ( opts.idProp ? leaf[ opts.idProp ] : $index )">
        </a>
        <p class="v-tree-empty" ng-if="!leaves || !leaves.length" ng-bind="opts.emptyMessage"></p>
    </div>

</div>
